body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: whitesmoke;
    color: #1c61a5;
    margin: 20px;
}


h1 {
    text-align: center;
    color: #1c61a5;
    font-size: 32px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

.card {
    background: whitesmoke;
    color: #1c61a5;
    border: 3px solid black;
    padding: 0;
    margin-bottom: 25px;
    border-radius: 8px;
    overflow: hidden;
    font-size: large;
}

.card h2 {
    margin: 0;
    padding: 12px 0;
    text-align: center;
    background: #1c61a5;
    color: whitesmoke;
    border-bottom: 3px solid black;
    font-weight: bold;
    font-size: 22px;
}

pre {
    background: whitesmoke;
    color: #1c61a5;
    padding: 20px 25px;
    margin: 0;
    font-size: 15px;
    text-align: left;
    whitesmoke-space: pre-wrap;
}
#gramatica pre,
#gramatica code {
    font-size: 18px !important;
    font-weight: bold !important;
    color: #1c61a5;
}

#first-follow-container {
    display: flex;
    justify-content: space-between;
}

#first-follow-container .box {
    width: 50%;
    border-right: 2px solid black;
}

#first-follow-container .box:last-child {
    border-right: none;
}

#first-follow-container pre,
#first-follow-container code {
    font-size: 18px !important;
    font-weight: bold !important;
    color: #1c61a5;
}


.linha {
    margin-bottom: 10px;
    padding-left: 20px;
}

.nt {
    font-weight: bold;
    display: inline-block;
    width: 30px;
}

.prod {
    padding: 5px 10px;
    margin: 3px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background: whitesmoke;
    color: #1c61a5;
    border: 2px solid #1c61a5;
}

.prod.habilitado {
    background: #fff9d6;
}

.prod.desabilitado {
    background: #d9d9d9;
    color: #666;
    opacity: 0.6;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #1c61a5;
    color: whitesmoke;
    padding: 8px;
    border: 1px solid black;
}

td {
    background: whitesmoke;
    color: #1c61a5;
    padding: 8px;
    border: 1px solid #1c61a5;
}

button {
    background: #1c61a5;
    color: whitesmoke;
    border: 2px solid black;
    padding: 10px 22px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin: 5px;
}

button:hover {
    background: #003267;
    transform: scale(1.04);
}

button:active {
    transform: scale(0.97);
}


input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 12px;
    border: 2px solid #1c61a5;
    background: #f8faff;
    color: #1c61a5;
    margin-bottom: 12px;
    box-shadow: 0 0 5px #1c61a533;
    transition: 0.2s;
}

input:focus {
    border: 2px solid black;
    outline: none;
    background: whitesmoke;
    box-shadow: 0 0 8px black88;
}

#sentencaIntuitiva {
    font-weight: bold;
    background: #fff9d6;
    border-color: black;
}

.painel-intuitivo {
    padding: 15px;
    margin-top: 15px;
}

.painel-input {
    padding: 15px;
}
